services:
  - type: web
    name: anime-planner
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn app:app"
    envVars:
      - key: FLASK_ENV
        value: production
      - key: DATABASE_URL
        value: postgres://anime_db_7a6a_user:LOWW0zzymJRzP00L7susznDTNoYegfbE@dpg-d1e7jk6mcj7s73a1r5fg-a.oregon-postgres.render.com:5432/anime_db_7a6a
