/* static/styles.css */
body {
    background-color: #fdf9ff;
    color: #333;
}

.card {
    border-radius: 1.5rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.btn {
    border-radius: 2rem;
}

a {
    text-decoration: none;
}
.detail-controls {
    display: none !important;
}
.detail-controls.show {
    display: flex !important;
}
.anime-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.anime-card .card {
    height: 100%;
    min-height: 300px;  /* adjust as needed */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card-img-top {
    object-fit: cover;
    height: 250px;
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.05);
}
.swiper {
    width: 100%;
    padding: 1rem 0;
}

.swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.swiper-slide:hover img {
    transform: scale(1.03);
}
